<%- include('include/header_dstudio') %>
 
<br>
<div class="d-flex justify-content-center">
<div class="card w-50 " >
    <div class="card-header">
      <strong>Question</strong>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= ques%></p>
        <footer class="blockquote-footer"><cite title="Source Title"><%= name%></cite></footer>
      </blockquote>
    </div>
  </div>

</div>
<br>
<% for(var i = 0; i < ans.length; i++) { %>
   <div class="d-flex justify-content-center">
    <div class="card card-outline-secondary border-warning w-75">
        <div class="card-header bg-dark">
          <div class="text-success"><h2>#<%= i+1 %></h2></div>
        </div>
        <div class="card-body  ">
         <%- ans[i] %>
        </div>
      </div>
    </div>
    <% } %>
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
   <!-- Script element sourcing the TinyMCE configuration -->
   <script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>
<%- include('include/footer') %>