<%- include('include/header_dstudio') %>
<br>
<h2 class="mx-auto text-light d-flex justify-content-center font-weight-bold" style="border-radius: 5px; width: 200px;  background-image: linear-gradient(to right top, #052b37, #005968, #008a80, #00bc75, #12eb46);">All Users</h2>
<br>
<div class="d-flex justify-content-center">
<div class="btn-group ">
                 
  <button type="button" class="btn btn-info dropdown-toggle "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="buttonDept">
   <%= deptBtn %>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" onclick="changeDeptBtn(this); sortUsers(this)">Product Development</a>
    <a class="dropdown-item" href="#" onclick="changeDeptBtn(this); sortUsers(this)">Sales & Marketing</a>
    <a class="dropdown-item" href="#" onclick="changeDeptBtn(this); sortUsers(this)">DevOps</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" onclick="changeDeptBtn(this); sortUsers(this)">Frontend</a>
  </div>
</div>
</div>
<br>
<table class="table w-75 " style="margin-left: auto; margin-right: auto; width: 300px;">
    <thead class="thead-light">
      <tr >
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">noPosts</th>
        <th scope="col" class="mb-3">Score</th>
        <th colspan="2"><form class="form-inline my-2 my-lg-0">
          Sort By :
          <button type="button" class="btn btn-warning dropdown-toggle ml-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="button-order">
            <%= orderBtn %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  onclick="changeSortBtn(this); sortUsers(this);">Score</a>
            <a class="dropdown-item"  onclick="changeSortBtn(this); sortUsers(this)">No of Posts</a>
            <a class="dropdown-item"   onclick="changeSortBtn(this); sortUsers(this)">Username</a>
            <a class="dropdown-item"   onclick="changeSortBtn(this); sortUsers(this)">Default</a>
            
          </div>
        </form> </th>
        
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < users.length; i++) { %>
        <tr id='<%= i+1 %>' class="table-active">
            <td class="text-light"><%= i + 1 %></td>
            <td class="text-light"><%= users[i].Userame %></td>
            <td class="text-light"><%= users[i].email%></td>
            
            <td class="text-light"><%= users[i].role %></td>
            <td class="text-light">
              <%= users[i].noPosts %>
               </td>
               <td class="text-light">
                <%= users[i].score %>
                 </td>
          <td >  
            <button class="btn btn-success"  onclick="location.href='http://localhost:3000/user/profile/<%= users[i]._id %>';">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg> view Profile
          </button></td>
        </tr>
        <% } %>
    </tbody>
  </table>
</form>

<%- include('include/footer') %>